<mat-toolbar>
  <mat-toolbar-row>
    <span class="logo-branding"><img [routerLink]="['/']" src="../../assets/images/brand-logo.png"></span>
    <span class="header-link" style="padding-left: 25px;">Products</span>
    <span class="header-link">Services</span>
    <span class="header-link">Startups</span>
    <span class="header-link">Investors</span>
    <span class="header-link">Crowdfunding</span>
    <span class="header-spacer"></span>
    <span class="header-link" *ngIf="!authService.isLoggedin()" [routerLink]="['/investor/signin']">Sign in</span>
    <span class="" *ngIf="!authService.isLoggedin()"><a [routerLink]="['/investor/register']" mat-flat-button style="background-color: #030d4e; color: #fff;">Register</a></span>
    <span class="header-link" *ngIf="authService.isLoggedin()">{{ firstName }}</span>
    <span class="" *ngIf="authService.isLoggedin()" (click)="onSignout()"><a [routerLink]="['/']" mat-flat-button style="background-color: #030d4e; color: #fff;">Sign out</a></span>
  </mat-toolbar-row>
</mat-toolbar>
