mat-toolbar, mat-toolbar-row {
  font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  max-height: 55px;
  min-height: 55px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.logo-branding img {
  height: 55px;
  margin-top: 12px;
}

mat-toolbar span {
  font-size: 16px;
  cursor: pointer;
}

.header-link {
  padding: 0 14px;
}

.header-link:hover {
  color: #f4951c;
}

.header-spacer {
  flex: 1 1 auto;
}
