mat-card {
  width: 50%;
  margin: 30px auto;
  text-align: center;
  font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

.portal-heading {
  font-size: 21px;
  font-weight: 400;
}

.portal-msg {
  font-size: 14px;
  margin: 10px auto;
  color: gray;
}

.portal-msg span {
  color: red;
  cursor: pointer;
}

.form-form {
  width: 100%;
}

.form-full-width {
  width: 100%;
}

.form-button-row button {
  background-color: #030d4e;
  color: #fff;
  width: 30%;
  margin: 10px auto;
}
