<mat-card>
  <div class="portal-heading">Investor's Registration Portal</div>
  <div class="portal-msg">Already have an account? <span [routerLink]="['/investor/signin']"> Sign in</span></div>
  <div>
    <form class="form-form" (submit)="onRegister()" [formGroup]="registerForm">
      <mat-form-field class="form-full-width">
          <input matInput type="text" formControlName="firstname" placeholder="Enter first name">
          <mat-error *ngIf="registerForm.get('firstname').hasError('required')">Please enter first name.</mat-error>
      </mat-form-field>

      <mat-form-field class="form-full-width">
        <input matInput type="text" formControlName="lastname" placeholder="Enter last name">
        <mat-error *ngIf="registerForm.get('lastname').hasError('required')">Please enter last name.</mat-error>
      </mat-form-field>

      <mat-form-field class="form-full-width">
          <input matInput type="email" formControlName="email" placeholder="Enter email">
          <mat-error *ngIf="registerForm.get('email').hasError('required')">Please enter email.</mat-error>
          <mat-error *ngIf="registerForm.get('email').hasError('email')">Please enter valid email.</mat-error>
      </mat-form-field>

      <mat-form-field class="form-full-width">
        <input matInput type="text" formControlName="phone" placeholder="Enter phone">
        <mat-error *ngIf="registerForm.get('phone').hasError('required')">Please enter phone.</mat-error>
      </mat-form-field>

      <mat-form-field class="form-full-width">
          <input matInput formControlName="password" placeholder="Enter password" [type]="hide ? 'password' : 'text'">
          <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </a>
          <mat-error *ngIf="registerForm.get('password').hasError('required')">Please enter password.</mat-error>
          <mat-error *ngIf="registerForm.get('password').hasError('minlength')">Password length should be greater than 8.</mat-error>
        </mat-form-field>

      <div class="form-button-row">
          <button mat-raised-button type="submit" [disabled]="registerForm.invalid">Register</button>
      </div>
    </form>
  </div>
</mat-card>
