<mat-card>
  <div class="portal-heading">Investor's Sign in Portal</div>
  <div class="portal-msg">Do not have an account? <span [routerLink]= "['/investor/register']"> Register</span></div>
  <div>
    <form class="form-form" (submit)="onSignin()" [formGroup]="signinForm">
      <mat-form-field class="form-full-width">
          <input matInput type="email" formControlName="email" placeholder="Enter email">
          <mat-error *ngIf="signinForm.get('email').hasError('required')">Please enter email.</mat-error>
          <mat-error *ngIf="signinForm.get('email').hasError('email')">Please enter valid email.</mat-error>
      </mat-form-field>

      <mat-form-field class="form-full-width">
          <input matInput formControlName="password" placeholder="Enter password" [type]="hide ? 'password' : 'text'">
          <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </a>
          <mat-error *ngIf="signinForm.get('password').hasError('required')">Please enter password.</mat-error>
          <mat-error *ngIf="signinForm.get('password').hasError('minlength')">Password length should be greater than 8.</mat-error>
        </mat-form-field>

      <div class="form-button-row">
          <button mat-raised-button type="submit" [disabled]="signinForm.invalid">Sign in</button>
      </div>
    </form>
  </div>
</mat-card>
